<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add wallpaper</title>
</head>
<body>
<form action="{% url 'market:add' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Додать">
</form>
</body>
</html>