<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallpeper</title>
</head>
<body>
<a href="{% url 'market:list' %}"><- Return</a>

<h1>Name: {{ wallpaper.name }}</h1>
<h2>Brand: {{ wallpaper.brand.name }}</h2>
<h3>Price: {{ wallpaper.price }}</h3>
<img src="{{ wallpaper.cover.url }}"/>
</body>
</html>